name: NET 7

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - src/NET7/**
jobs:

  build-deploy:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2  
        - name: Build and Deploy
          uses: ./.github/actions/sam-build-and-deploy-native
          with:
            aws-access-key: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: ${{ secrets.AWS_REGION }}
            dotnet-version: '7.0.x'
            template-file-path: ./src/NET7/template.yaml
            project-directory: ./src/NET7/
            stack-name: net-7-base
            s3-bucket-name: aws-dotnet-lambda-testing

  load-test-x86:
      needs: build-deploy
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2  
        - name: Run Load Tests
          uses: ./.github/actions/run-load-test
          with:
            api-endpoint: ${{ secrets.API_ENDPOINT_NET_7_X86 }}

  generate-report-x86:
      needs: [load-test-x86]
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2  
        - name: Generate reports
          uses: ./.github/actions/generate-report
          with:
            api-endpoint: ${{ secrets.API_ENDPOINT_NET_7_X86 }}
            output-report-file-name: net-7-x86-output.md
